@use 'variables' as *;


.header_block {
    background-image: url('./assets/img/jumbotron.jpg');
    height: 400px;
    background-size: cover;
}

.content {
    background-color: $secondary_color;

}

.card {
    background-color: $secondary_color;
    height: 100%;
    border: 0;
    border-radius: 10px;

}

.card_text {
    background-color: $secondary_color;
}

.button_load {
    display: flex;
    justify-content: center;
}

button {
    background-color: $primary_color;

}