@use 'variables' as *;

header {
    nav {
        background-color: $light;


        img {
            width: 100px;
        }

        a {
            margin-right: 30px;
            padding-bottom: 36px;
            text-decoration: none;
            color: $secondary_color;

            &:hover {
                border-bottom: 5px solid $primary_color;
            }
        }

    }

}