@use '../node_modules/bootstrap';
@use './assets/style/header';
@use './assets/style/first_block';
@use './assets/style/second_block';
@use './assets/style/third_block';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}